li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }
  body {
    background: var(--bg);
    color: var(--frontColor);
    font-family: helvetica;
  }

ul {
    font-family: helvetica;
}

:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --red: #f50505;
    --purple:#FF00FF ;
    --darkblue: #191970;
  }


/*Темы*/
.black-theme {
    --bg: var(--black);
    --frontColor: var(--red);
    --btnBg: var(--red);
    --btnFontColor: var(--black);
  }
.red-theme {
    --bg: linear-gradient(0deg, #191970 20%, #301970 , #3f1970 ,#421970 , #441970);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    --frontColor: var(--purple);
    --btnBg: var(--purple);
    --btnFontColor: var(--darkblue);
   }


/*Кнопка стилей*/
  .btn {
    position: absolute;
    top: 20px;
    right: 90px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btntxt {position: absolute;
    top: 60px;
    right: 90px;
    border: none;}
    .btnlst {position: absolute;
        top: 95px;
        right: 30px;
        border: none;}

/*Домой*/
.btnhome {
  border: none;
  position: absolute;
  top: 28px;
  left: 350px;
  display:inline-block;
  background: var(--btnBg);
  color:var(--btnFontColor);
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
}